*{
    box-sizing: border-box;
}
body {
    min-height: 50vh;
    background: linear-gradient(#051f30,#1644a8);
}

img{
    width: 100%;
}
.Header-size{
    display: flex;
    text-align: center;
    background: linear-gradient(#051f30,#0c2763);
}

.header-logo{
    width: 15%;
    display: flex;
    align-items: center;
}

.header-home{
    width: 100%;
    display: flex;
    align-items: center;
}

h2 {
   font-size: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex-grow: 1;
    flex-basis: 200;
}

.text-content{
    display: flex;
    flex: auto;
    width: 100%;
    padding: 2%;
    gap: 2%;
}

.text-white{
    color: azure;
    font-family: serif;
}

.a {
    text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.nav-container{
    background: linear-gradient(#051f30,#214eaf);
    display: flex;
    flex: auto;
    padding: 0.5%;
    gap: 2%;
    align-items: center;
    font-size: 15px; 
}

nav a{
    color: azure;
    padding: 1%;
}

nav a:hover{
    background-color: #3f658d;
    border-radius: 10%;
    transition:0.3s all;
}

.jumbotron{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.test img{
    width: 300px;
    height: auto;
    align-items: center;
    border-radius: 8%;
}

/* tablet */
@media screen and (min-width : 600px) {
    body {
        display: grid;
        flex: auto;
        flex-direction: column;
        padding: 2%;
        gap: 2%;
    }
    .visual{
        padding:5px;
        width: 50%;
        float: left;
        border-radius: 10%;
    }
}

.text p {
    text-align: justify;
}

/* desktop */
@media screen and (min-width : 992px) {
    body {
        display: grid;
        flex: auto;
        flex-direction: column;
        padding: 2%;
        gap: 2%;
        
    }
    .visual {
        padding: 5px;
        display: grid;
        width: 25%;
        float: left;
        border-radius: 10%;

    }
}